/*Tête de Page*/
header{ 
	color: purple;
	font-size: 25px;
}

/*Modifications sur le bouton de navigation(Haut)*/
.menu-nav ul li.btn{
	display: inline-block;
	list-style-type: none;
}

/*Modifications sur le texte du bouton*/
.menu-nav ul li.btn a{
	color: white;
	text-decoration: none;
	background-color: purple;
	padding: 10px;
	font-size: 20px;
}

/*Survol du bouton*/
.menu-nav ul li.btn:hover a{
	color: purple;
	background-color: rgb(206, 146, 174);
	transition: 0.7s;
}

.menu-nav ul li{
	font-size: 50px;
}

/*Le menu de Navigation*/
footer.menu-nav
{
	margin-top: 35px;
	background-color: rgb(206, 146, 174);
	padding: 7px;
}

nav.menu-nav
{
	margin-bottom: 35px;
	background-color: rgb(206, 146, 174);
	padding: 7px;
}


/*Le Bouton Voir l'article*/
#btn
{
	display: inline-block;
	list-style-type: none;
	padding-top: 17px;
	padding-left: 50px;
}

/*Modifications sur le texte du bouton*/
#btn a
{
	color: purple;
	padding: 20px;
	text-decoration: none;
	background-color: white;
	font-size: 20px;
}
/*Survol du bouton*/
#btn:hover a
{
	color: black;
	background-color: #f4f4e2;
	transition: 0.4s;
}
/*Modifications sur le site web en général*/
body{
	background-color: #fcdefb; 
	position: relative;
}
/*Modifications sur les images en général*/
img{
	width: 33%;
}

/*Feuilles de Styles sur les articles*/
article{
	display: inline-block;
	background-color: #f8f8f4;
	width: 20%;
	vertical-align: top;
	margin-right: 30px;
	border: 3px #d0fffd inset;
	padding-bottom: 17px;
	margin-bottom: 30px;
}
/*Le titre de l'article*/
article h1{
	font-size: 20px;
	padding-left: 15px;
}
/*La position du prix*/
article h1 a{
	position: absolute;
}
/*L'image des articles*/
article img{
	width: 100%;
	height: 100%;
}

/*La position du prix*/
article h1 a{
	position: absolute;
}

/*L'image de l'article*/
article img{
	width: 100%;
	height: 100%;
}

#DemandeInscription
{
	font-family: 'Times New Roman', Times, serif;
	font-size: 19px;
}
#DemandeInscription a
{
    font-weight: bold;
    text-decoration: none;
}

/*Le logo*/
#logo{
     width: 100px;
}

#Compte{
	width: 30px;
}

