#formulaire{margin-left: 200px;}
.tooltip { display: inline-block; margin-left: 20px; padding: 2px 4px; -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px;}
input:focus {border-color: rgba(82, 169, 236, 0.623); -moz-box-shadow: 0 0 8px rgba(82, 169, 236, 0.5); -webkit-box-shadow: 0 0 8px rgba(82, 168, 236, 0.5); box-shadow: 0 0 8px rgba(82, 168, 236, 0.5);}
#formulaire label {display: inline-block; margin-right: 15px; padding: 3px 0px; width: 220px; min-height: 1px; text-align: right;}
input {padding: 2px; border: 1px solid #CCC; -moz-border-radius: 2px; -webkit-border-radius: 2px; border-radius: 10px; outline: none;}
#submit{background-color: rgb(255, 255, 255);font-weight: bold;width: 100px;margin-left: 212px;font-size: 15px;}
#reset{background-color: rgb(255, 255, 255); font-weight: bold; font-size: 15px;}
#sex{margin-right: 15px;}
select{font-family: 'Times New Roman', Times, serif;font-size: 12px;}
.correct {border-color: rgba(68, 191, 68, 0.75);}
.correct:focus {border-color: rgba(68, 191, 68, 0.75);-moz-box-shadow: 0 0 8px rgba(68, 191, 68, 0.5);-webkit-box-shadow: 0 0 8px rgba(68, 191, 68, 0.5);box-shadow: 0 0 8px rgba(68, 191, 68, 0.5);}
.incorrect {border-color: rgba(191, 68, 68, 0.75);}
.incorrect:focus {border-color: rgba(191, 68, 68, 0.75);-moz-box-shadow: 0 0 8px rgba(191, 68, 68, 0.5);-webkit-box-shadow: 0 0 8px rgba(191, 68, 68, 0.5);box-shadow: 0 0 8px rgba(191, 68, 68, 0.5);}
.intro{margin-left: 200px; text-decoration: underline;}
.tooltip2{color: brown;}
#lreset{margin-left: 190px;}
